@import "../../styles/variables";

.musician {
  &--info {
    margin-top: -2.5em;
    margin-top: calc(-1 * (2vw + 0.75rem));
    margin-left: -1.25rem;
    position: relative;
    z-index: 1;

    & > h3 {
      text-shadow: $s_text;
    }

    & > p {
      display: flex;
      align-items: center;
    }
  }
}