<div class="toolbar-wrapper">
    <div class="content">
        <div class="item">
            <a href="mailto:info@voltagearc.com">
                <i class="material-icons material-ease">email</i>
                <span class="material-ease">E-Mail</span>
            </a>
        </div>
        <div class="item">
            <a href="tel:0796898660">
                <i class="material-icons material-ease">phone</i>
                <span class="material-ease">Anrufen</span>
            </a>
        </div>
        <div class="item">
            <a href="/contact/">
                <i class="material-icons material-ease">info</i>
                <span class="material-ease">Mehr Infos</span>
            </a>
        </div>
        <div class="item">
            <a>
                <i class="material-icons material-ease">close</i>
                <span class="material-ease">Schliessen</span>
            </a>
        </div>
    </div>
    <div class="fab">
        <i class="material-icons">add</i>
    </div>
</div>
