<div class="dark-background">
    <footer class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <h1>Voltage Arc</h1>
                <p><a href="https://maps.google.com/?q=Luzernerstrasse+14,+5712+Beinwil+am+See" target="_blank">Luzernerstrasse 14 / Postfach 50</a></p>
                <p><a href="https://maps.google.com/?q=Luzernerstrasse+14,+5712+Beinwil+am+See" target="_blank">5712 Beinwil am See</a></p>
                <p><a href="tel:0796898660">079 689 86 60</a></p>
            </div>
            <div class="social col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h1>Folge uns!</h1>
                <p><a href="https://fb.me/VoltageArc" target="_blank">Facebook</a></p>
                <p><a href="https://www.instagram.com/voltage_arc/" target="_blank">Instagram</a></p>
                <p><a href="https://www.youtube.com/channel/UCdARchfQvlOBcMNZynTPRCg" target="_blank">YouTube</a></p>
                <p><a href="https://www.gigmit.com/voltage-arc" target="_blank">gigmit</a></p>
            </div>
        </div>
    </footer>
</div>
