@import "./variables";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: $c_bg_1;
  color: $c_fg_2;
}

img {
  max-width: 100%;
}

.pin {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // z-index: 777;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $f_f_headline;
  font-weight: $f_w_headline;
}

h1.display,
h2.display,
h3.display {
  font-size: 4.5rem;
  line-height: 100%;
}

h1,
h2.as-h1,
h3.as-h1,
h4.as-h1 {
  font-size: $f_s_mobile_h1 + px;
  font-size: calc(#{$f_s_mobile_h1} * 1px + (#{$f_s_desktop_h1} - #{$f_s_mobile_h1}) * ((100vw - #{$s_min_vw} * 1px) / (#{$s_max_vw} - #{$s_min_vw})));
}

h2,
h1.as-h2,
h3.as-h2,
h4.as-h2 {
  font-size: $f_s_mobile_h2 + px;
  font-size: calc(#{$f_s_mobile_h2} * 1px + (#{$f_s_desktop_h2} - #{$f_s_mobile_h2}) * ((100vw - #{$s_min_vw} * 1px) / (#{$s_max_vw} - #{$s_min_vw})));
}

h3,
h1.as-h3,
h2.as-h3,
h4.as-h3 {
  font-size: $f_s_mobile_h3 + px;
  font-size: calc(#{$f_s_mobile_h3} * 1px + (#{$f_s_desktop_h3} - #{$f_s_mobile_h3}) * ((100vw - #{$s_min_vw} * 1px) / (#{$s_max_vw} - #{$s_min_vw})));
}

h4,
h1.as-h4,
h2.as-h4,
h3.as-h4 {
  font-size: $f_s_mobile_h4 + px;
  font-size: calc(#{$f_s_mobile_h4} * 1px + (#{$f_s_desktop_h4} - #{$f_s_mobile_h4}) * ((100vw - #{$s_min_vw} * 1px) / (#{$s_max_vw} - #{$s_min_vw})));
}

a,
p,
span,
label {
  font-size: 1.5rem;
  font-family: $f_f_body;
  font-weight: $f_w_body;
  line-height: $f_lh_body;
}

.body {
  line-height: $f_lh_body;
}

b,
strong,
.lead {
  font-weight: $f_w_body_bold;
}

.uppercase {
  font-family: $f_f_body;
  font-size: 1rem;
  letter-spacing: .3rem;
  line-height: 1.8rem;
  text-transform: uppercase;
}

.lead {
  line-height: $f_lh_lead;
  opacity: 0.8;
  font-size: 1.5rem;
  // font-size: $f_s_mobile_h4 + px;
  // font-size: calc(#{$f_s_mobile_lead} * 1px + (#{$f_s_desktop_lead} - #{$f_s_mobile_lead}) * ((100vw - #{$s_min_vw} * 1px) / (#{$s_max_vw} - #{$s_min_vw})));
}
