---
layout: master
---

        {% include fab.html %}
        <div class="fullscreen-image" style="background-image:url({{ page.background_image }})" title="{{ page.image_caption }}">
            <div id="backgroundOverlay">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="material-shadow-1 material-section col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                    <h1>{{ page.title }}</h1>
                    {{ content }}
                </div>
            </div>
        </div>
